In [1]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
users = pd.read_csv("users_articles.csv")
users.head(3)

       uid                                        articles
0  u105138  [293672, 293328, 293001, 293622, 293126, 1852]
1  u108690          [3405, 1739, 2972, 1158, 1599, 322665]
2  u108339          [1845, 2009, 2356, 1424, 2939, 323389]

In [3]:
users['articles'] = users['articles'].apply(lambda x: " ".join([i.strip() for i in x.replace("[","").replace("]","").split(",")]), 
                                            1)
users['articles'].iloc[0]

'293672 293328 293001 293622 293126 1852'

In [4]:
tfidf = TfidfVectorizer()
tfidf.fit(users['articles'])

TfidfVectorizer()

In [5]:
pd.DataFrame({'article_id': tfidf.get_feature_names(),
              'idf': tfidf.idf_})

      article_id       idf
0             10  8.888710
1            100  7.907880
2           1000  8.041412
3           1001  8.888710
4           1002  8.888710
...          ...       ...
14776        995  8.377884
14777        996  8.195562
14778        997  8.601027
14779        998  9.294175
14780        999  8.601027

[14781 rows x 2 columns]

In [6]:
pd.DataFrame({'article_id': tfidf.get_feature_names(),
              'idf': tfidf.idf_}).to_csv("articles_idf.csv", index=None)